sudo: required

services:
  - docker

env:
  - IMAGE_NAME=nickblair/predictions:0.0.$TRAVIS_BUILD_NUMBER

script:
  - docker run -v $PWD:/predictions -w /predictions mono:5.4 ./build.sh
  - docker build -t $IMAGE_NAME .

after_success:
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker push $IMAGE_NAME;
    fi