body { padding-bottom: 70px; background-color:#fefefe;}

.diff-up{color:#3c763d;}
.diff-none{color:#969696;margin-left:-2px;}
.diff-down{color:#a94442;margin-left:-2px;}

.input-group,.label,.btn{ text-transform: uppercase;}

.submit-score .input-group{ width: 100%;}
.submit-score .team-label {width:50%;text-align:left;position:relative;}
.submit-score .form-guide{margin:0;padding:0;display:block;position:absolute;top:9px;right:11px;}
.submit-score .form-guide li{
    opacity:0.3;
    list-style:none;
    display:block;
    float:left;
    width:4px;
    height:14px;
    margin-right:2px;
    border-radius:1px;
    transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out;
}
.submit-score .form-guide li:last-child {margin-right:0;}
.submit-score .form-guide li span{display:none;}
.submit-score.focused .form-guide li {opacity:1;}
.submit-score.focused .form-guide .outcome-w{background-color:#3c763d;}
.submit-score.focused .form-guide .outcome-d{background-color:#969696;}
.submit-score.focused .form-guide .outcome-l{background-color:#a94442;}
.submit-score .form-guide .outcome-w,
.submit-score .form-guide .outcome-d,
.submit-score .form-guide .outcome-l{background-color:#666;}

.submit-score.min-mode .fixture-date,
.submit-score.min-mode .more-link{ display: none;}

.more-link{ text-transform: lowercase;}

.team-name{ text-transform: uppercase;}
.datetimepicker{width:auto;}

.movement{width:5%; text-align:center;}
.numeric-cell{text-align:right;}
.numeric-cell-heading{width:5%; text-align:right;}
.score-cell-heading {width:15%;}
.slim-cell{width:10%;}
.cell-15{width:15%;}
.cell-20{width:20%;}
.cell-25{width:25%;}

.block-ui-message-container{ display: none;}

.btn {
    width: 100%;
    display: block;
}


@media (min-width: 768px) {
    .btn {
        width: auto;
        display: inline-block;
    }
}


.fixed-bottom{position:fixed;z-index: 1030;bottom:0;left: 0;margin-bottom:0;width: 100%;box-shadow: #999 0px 0 3px;}
.fixed-bottom div.panel{ margin-bottom: 0;border-radius: 0;border-width: 1px 0 0;}

@media (min-width: 768px) {
    .fixed-bottom{ left: inherit;}
}

h4{margin-top:0;}

.navbar-fixed-bottom{}

@media (min-width: 768px) {
    .navbar-fixed-top{right:auto;width:225px;}
}


.navbar-header,
.navbar-nav > li {
    float: none;
}

.page-wrapper {
    padding-top: 70px;
    position: relative;
}

@media (min-width: 768px) {
    .page-wrapper {
        padding-top: 15px;
        padding-left: 225px;
        width:768px;
    }
}

.navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        bottom:0;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.table.matrix > thead > tr > th {
    font-weight: normal;
    text-align: center;
}
.table.matrix > thead > tr > th.left-align {
    text-align: left;
}
.table.matrix > tbody > tr > td {
    white-space: nowrap;
}
.table.matrix > tbody > tr > td.score-cell {
    text-align: center;
    font-size: smaller
}
.table.matrix > tbody > tr > td.score-cell.cs {
    background-color: #bfe0bf;
}
.table.matrix > tbody > tr > td.score-cell.co {
    background-color: #dff0d8;
}
.table.matrix .fixture-head-team {
    text-transform: uppercase;
}

table.table-no-top-border > tbody > tr:first-child > td {
    border-top: 0;
}


