/* Space out content a bit */
/*body {
  padding-top: 20px;
  padding-bottom: 20px;
}
*/
body { padding-top: 70px; padding-bottom: 70px;}
/* Everything but the jumbotron gets side spacing for mobile first views */

.team-label {width:50%;text-align: left;}